* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #FBFBFB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 813px;
    max-width: 1017px;
}

textarea {
    resize: none;
}

/* index */
.fadeDiv { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeDiv img {
    max-height: 100vh;
}

/* index */
.fade-h1 { 
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-shadow: 0 2px 2px #0000004f;
    background-color: rgba(255, 255, 255, 0.541);
    font-weight: 200;
    font-size: 10vw;
}

/* menu */
nav { 
    display: grid;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.705);
    grid-template-areas:
    "logo . list";
    position: absolute;
    top: 0;
    max-width: inherit;
    width: 100%;
    z-index: 999;
}

.navUl { 
    grid-area: list;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.6vw;
    font-weight: lighter;
    list-style-type: none;
    color: white;
}

nav a, nav li:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}

.active {
    border-bottom: 1.5px solid #fff;
}

/* logo in menu */
.logo { 
    display: flex;
    align-items: center;
    grid-area: logo;
    margin: 0;
    font-family: Prata;
    font-weight: normal;
    font-size: 3vw;
    color: white;
    padding-left: 3.5vh;
}

.logo a {
    text-decoration: none;
    color: white;
}

/* home page */
.mainHome img{
    max-width: 100%;
    width: 1017px;
    border-bottom: solid 1px black;
}

.mainHome {
    display: block;
}

.mainHome h1 {
    font-size: 4rem;
}

.mainHome p {
padding: 1rem 3.5rem;
}

.mainHome h1, .mainHome p {
    display: flex;
    justify-content: center;
    font-weight: 200;
}

/* pricing page */
.pricePage {
    background: url(./bilder/photo-431119_1920_copy.jpg) no-repeat 0, 0;
    display: flex;
} 

.pricePage :after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    background-color: rgba(0, 0, 0, 0.089); 
} 

.dropdown {
    position: relative;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.705);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.24);
    padding: 12px 0;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.headerPrice h1 {
    position: absolute;
    margin: 8rem;
    font-weight: 200;
}

.mainPrice, .mainPrice h1 {
    color: white;
    font-weight: 200;
    height: 500px;
}

.mainPrice button {
    text-decoration: none;
    color: black;
    font-size: .8rem;
    font-weight: lighter;
    padding: .5rem;
}

/* wedding page */
.mainWedding {
    background-color: black;
    color: white;
    font-weight: 300;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "col1 col2";
}

.quoteWedding {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 2.5vh;
    margin: 5.5rem 0 2rem 0;
}

.col1 {
    grid-area: col1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
}

.col1 ul {
    list-style-type: none;
    padding: 2rem 0;
}

.col1 form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

.col1 h2 {
    margin: 5px;
    text-align: left;
    padding-top: 2rem;
}

.weddingForm input, select, textarea {
    outline: none;
    padding: 0.3rem;
    border-radius: 5px;
    width: 100%;
}

.col1 form button {
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin:10px 0;
}

.weddingForm label { 
    margin-top: .4rem;
}


.mainWedding img {
    grid-area: col2;
    width: 90%;
    padding-top: 2rem;
    justify-self: center;
}

.col2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
}

.col2 span p {
    padding: 3px;
}

/* gallery page */

#mainGallery :hover {
    transform: /* translate(0, 23.5%) */ scale(1.4);
    border: 2px solid #fff;
}

#mainGallery img{
    z-index: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* contact page */
.contactPage {
    background: url(./bilder/baby-1399332_1920_copy.jpg) no-repeat 0, 0;
    width: 100%;
}

.contactPage :after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* background-color: rgba(0, 0, 0, 0.089); */
}

.mainContact {
    background-color: rgba(0, 0, 0, 0.705);
}

.mainContact div {

}

.mainContact ul {
    list-style-type: none;
}

.mainContact form {
    justify-content: center;
    flex-direction: column;
    padding: 0.3rem;
    border-radius: 5px;
    width: 70%;
    outline: none;
}

.mainContact form input, textarea {
    margin-top: .4rem;
}

.mainContact form button {
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin:10px 0;
}

.mainContact p, ul {
    color: white;
    font-weight: 300;
}

.imgContact h1 {
    color: white;
    font-weight: 300;
    background-color: turquoise;
}

/* footer */
footer {
    background-color: black;
    color: white;
    font-weight: lighter;
    height: 70px;
    display: grid;
    grid-template-columns: 75% 15% 10%;
    grid-template-areas: 
    "c-right phone adress";
}

/* copyright */
footer p {
    grid-area: c-right;
    display: flex;
    align-items: center;
    padding-left: 2vh;
    color: rgba(255, 255, 255, 0.74);
}

footer li {
    list-style-type: none;    
}

/* phone and mail */
#contactUl {
    grid-area: phone;
}

/* adress */
.footerUl {
    grid-area: adress;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.74);
}
