body {
    margin: 0;
    background-color: #FBFBFB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 480px;
}


/* index */
.fadeDiv { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeDiv img {
    max-height: 100vh;
}

.fade-h1 { 
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-shadow: 0 2px 2px #0000004f;
    background-color: rgba(255, 255, 255, 0.541);
    font-weight: 200;
    font-size: 10vw;
}

/* menu */
nav { 
    display: grid;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.705);
    grid-template-areas:
    "logo . list";
    padding: 7px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.navUl { 
    grid-area: list;
    display: flex;
    flex-direction: row;
    font-size: 1.6vw;
    font-weight: lighter;
    list-style-type: none;
    color: white;
    justify-content: space-evenly;
}

nav a, nav li:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.2);
}

.active {
    color: red;
}

/* logo in menu */
.logo { 
    display: flex;
    grid-area: logo;
    margin: 0;
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    color: white;
    padding-left: 3.5vh;
}

.logo a {
    text-decoration: none;
    color: white;
}

/* home page */
.headerHome img{
    background: url(./bilder/smile-2072908_1920.jpg);
    max-width: 100%;
    background-size: cover;
    background: no-repeat;
}

/* pricing page */
.headerPrice .mainPrice {
    background: url(./bilder/photo-431119_1920.jpg);
    background: no-repeat;
}

.headerPrice {

}

.mainPrice {
    background-color: rgba(0, 0, 0, 0.9);
    height: 150px;
}

/* wedding page */
.headerWedding {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 2.5vh;
}

.mainWedding {
    background-color: black;
    color: white;
    font-weight: 300;
}

.weddingList {
    list-style-type: none;
}

/* footer */
footer {
    display: flex;
    display: grid;
    font-weight: lighter;
    flex-direction: row;
    grid-template-columns: 65% 20% 15%;
    grid-template-areas: 
    "c-right phone adress";
}

.footerBlack {
    background-color: black;
    color: white;
}

.c-right {
    grid-area: c-right;
}

.contactUl {
    grid-area: phone;
    list-style-type: none;
}

.footerUl {
    grid-area: adress;
    display: flex;
    flex-direction: column;
}